@use "functions" as *;
@use "variables" as var;

@font-face {
	font-family: "Roboto Flex", sans-serif;
	src: "../../assets/fonts/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf";
}

.title-1 {
	font-family: "Roboto Flex", sans-serif;
	font-weight: 500;
	font-size: #{fluid(
			36px,
			54px,
			var.$default-size-start,
			var.$default-size-end
		)};
	line-height: 100%;
	text-decoration: none;
	letter-spacing: -2%;
}

.title-2 {
	font-family: "Roboto Flex", sans-serif;
	font-weight: 500;
	font-size: #{fluid(
			24px,
			36px,
			var.$default-size-start,
			var.$default-size-end
		)};
	line-height: 100%;
	text-decoration: none;
	letter-spacing: -2%;
}

.title-3 {
	font-family: "Roboto Flex", sans-serif;
	font-weight: 500;
	font-size: #{fluid(
			29px,
			24px,
			var.$default-size-start,
			var.$default-size-end
		)};
	line-height: 120%;
	text-decoration: none;
	letter-spacing: -2%;
}

.title-4 {
	font-family: "Roboto Flex", sans-serif;
	font-weight: 500;
	font-size: #{fluid(
			18px,
			20px,
			var.$default-size-start,
			var.$default-size-end
		)};
	line-height: 110%;
	text-decoration: none;
	letter-spacing: -2%;
}

.body-1 {
	font-family: "Roboto Flex", sans-serif;
	font-weight: 500;
	font-size: #{fluid(
			16px,
			18px,
			var.$default-size-start,
			var.$default-size-end
		)};
	line-height: 140%;
	text-decoration: none;
	letter-spacing: -2%;
}

.body-2 {
	font-family: "Roboto Flex", sans-serif;
	font-weight: 400;
	font-size: #{fluid(
			14px,
			16px,
			var.$default-size-start,
			var.$default-size-end
		)};
	line-height: 150%;
	text-decoration: none;
	letter-spacing: normal;
}

.headline-1 {
	font-family: "Roboto Flex", sans-serif;
	font-weight: 400;
	font-size: #{fluid(
			14px,
			16px,
			var.$default-size-start,
			var.$default-size-end
		)};
	line-height: 100%;
	text-decoration: none;
	letter-spacing: normal;
}

.headline-2 {
	font-family: "Roboto Flex", sans-serif;
	font-weight: 400;
	font-size: #{fluid(
			12px,
			14px,
			var.$default-size-start,
			var.$default-size-end
		)};
	line-height: 100%;
	text-decoration: none;
	letter-spacing: normal;
}

.subtitle-medium {
	font-family: "Roboto Flex", sans-serif;
	font-weight: 500;
	font-size: #{fluid(
			14px,
			16px,
			var.$default-size-start,
			var.$default-size-end
		)};
	line-height: 130%;
	text-decoration: none;
	letter-spacing: normal;
}

.subtitle-light {
	font-family: "Roboto Flex", sans-serif;
	font-weight: 400;
	font-size: #{fluid(
			14px,
			16px,
			var.$default-size-start,
			var.$default-size-end
		)};
	line-height: 100%;
	text-decoration: none;
	letter-spacing: normal;
}

.hairline-1 {
	font-family: "Roboto Flex", sans-serif;
	font-weight: 400;
	font-size: 17px;
	font-size: #{fluid(
			14px,
			17px,
			var.$default-size-start,
			var.$default-size-end
		)};
	line-height: 100%;
	text-decoration: none;
	letter-spacing: normal;
}
